QDialog#loginDialog,
#registerDialog {
    background-color: white;
}

#errorHint[state='normal'] {
    color: green;
}

#errorHint[state='error'] {
    color: red;
}

/* #userLabel,
#passLabel {
    color: black;
} */